@CHARSET "UTF-8";

html {
	color: #000;
	background: #FFF
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td
	{
	margin: 0;
	padding: 0
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

fieldset,img {
	border: 0
}

address,caption,cite,code,dfn,em,strong,th,var {
	font-style: normal;
	font-weight: normal
}

ol,ul {
	list-style: none
}

caption,th {
	text-align: left
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: normal
}

q:before,q:after {
	content: ''
}

abbr,acronym {
	border: 0;
	font-variant: normal
}

sup {
	vertical-align: text-top
}

sub {
	vertical-align: text-bottom
}

input,textarea,select {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	*font-size: 100%
}

legend {
	color: #000
}

body{
	overflow-x :hidden;
}

.clearfix{
	width:0px;
	height:0px;
	clear:both;
}

.b-t{
	border-top:1px #fff solid;
}

.b-l{
	border-left:1px #fff solid;
}

.b-r{
	border-right:1px #fff solid;
}

.b-b{
	border-bottom:1px #fff solid;
}

.f-l{
	float:left;
}

.f-r{
	float:right;
}

.main{
	width:1000px;
	height:auto;
	margin:0 auto;
	overflow:hidden;
}

.header-a{
	width:1024px;
	height:262px;
	background:url(../images/header-a.png) no-repeat;
	overflow:hidden;
	margin:0 auto;
}

.nav-a{
	width:100%;
	height:45px;
	overflow:visible;
	background:url(../images/banner.png) no-repeat #850900;
	font-size:14px;
	line-height:50px;
}

.nav-a span{
	color:#850900;
}

.m-container{
	width:1000px;
	margin:0 auto;
	font-size:14px;
	
}

.m-header{
	position:relative;
}

.tq-box{
	height:56px;
	z-index:2;
	font-size:12px;
	float:right;
	margin-top:195px;
}

.tq-box dl{
	width:120px;
	height:100%;
	float:right;
	
}
.tq-box dl dd{
	height:18px;
	line-height:18px;
	color:#fff;
	text-align:left;
	
}

.tq-box dl dd a{
	color:#ffea00;
	text-decoration:none;
}

.tq-box ul{
	float:right;
	color:#fff;
	margin-right:43px;
	margin-top:10px;
}

.tq-box ul li{
	list-style:none;
	height:18px;
	line-height:18px;
}

.tq-box img{
	float:right;
	margin-right:12px;
}

.m-container .footer-p{
	height:22px;
	line-height:22px;
	text-align:center;
	font-size:12px;
}

.footer-a{
	height:115px;
	width:100%;
	background:url(../images/footer-a.png) bottom no-repeat;
	margin:20px auto 0px auto;
}

 .list-left{
	width:327px;
	float:left;
}

 .list-left-titile{
	width:100%;
	height:42px;
	background:url(../images/list-left-title.png) no-repeat;
}

 .list-left-titile .left-title{
	height:42px;
	line-height:42px;
	float:left;
	margin-left:62px;
	display:inline;
	font-size:14px;
	color:#fff;
	font-weight:bold;
}

 .list-left-titile .more-tag{
	height:16px;
	line-height:16px;
	width:auto;
	float:right;
	margin-right:15px;
	display:block;
	color:#fff;
	font-weight:bold;
	margin-top:13px;
	text-decoration:none;
}


 .list-left-body{
	width:323px;
	border:2px #f76666 solid;
	border-top:none;
	background:#fdf9f1;
}

 .list-left-body dl dd{
	width:289px;
	height:80px;
	margin:0 auto;
}

 .list-left-body .list-icon{
	width:40px;
	height:42px;
	float:left;
	margin-top:19px;
}

 .list-left-body .icon-1{
	background:url(../images/list-left-icon-1.png) no-repeat;
}

 .list-left-body .icon-2{
	background:url(../images/list-left-icon-2.png) no-repeat;
}

 .list-left-body .icon-3{
	background:url(../images/list-left-icon-3.png) no-repeat;
}

 .list-left-body .icon-4{
	background:url(../images/list-left-icon-4.png) no-repeat;
}

 .list-left-body .icon-5{
	background:url(../images/list-left-icon-5.png) no-repeat;
}

 .list-left-body .border-bottom{
	border-bottom:1px #ff9393 dotted;
}

 .list-left-body .title-a{
	height:16px;
	width:240px;
	line-height:16px;
	float:left;
	margin-top:19px;
	font-size:12px;
	font-weight:bold;
	color:#cf2518;
	text-align:left;
	margin-left:5px;
	cursor:pointer;
}

 .list-left-body .title-cell{
	height:16px;
	line-height:16px;
	text-align:left;
	float:left;
	font-size:12px;
	color:#636363;
	margin-left:5px;
	margin-top:4px;
	cursor:pointer;
}

 .list-left-body .left-bnt{
	width:69px;
	height:69px;
	float:left;
	margin:16px auto 16px 28px;
	display:inline;
	padding:0px;
}

 .list-left-body .bnt-1{
	background:url(../images/list-left-bnt-1.png) no-repeat;
}

 .list-left-body .bnt-2{
	background:url(../images/list-left-bnt-2.png) no-repeat;
}

 .list-left-body .bnt-3{
	background:url(../images/list-left-bnt-3.png) no-repeat;
}


