@CHARSET "UTF-8";

html {
	color: #000;
	background: #FFF
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td
	{
	margin: 0;
	padding: 0
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

fieldset,img {
	border: 0
}

address,caption,cite,code,dfn,em,strong,th,var {
	font-style: normal;
	font-weight: normal
}

ol,ul {
	list-style: none
}

caption,th {
	text-align: left
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: normal
}

q:before,q:after {
	content: ''
}

abbr,acronym {
	border: 0;
	font-variant: normal
}

sup {
	vertical-align: text-top
}

sub {
	vertical-align: text-bottom
}

input,textarea,select {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	*font-size: 100%
}

legend {
	color: #000
}

body{
	overflow-x :hidden;
}

.clearfix{
	width:0px;
	height:0px;
	clear:both;
}

.main{
	width:1024px;
	height:auto;
	margin:0 auto;
	overflow:hidden;
}

.header-a{
	width:1024px;
	height:268px;
	background:url(../images/header-a.png) no-repeat;
	overflow:hidden;
	margin:0 auto;
}

.nav-a{
	width:100%;
	height:45px;
	overflow:visible;
	background:url(../images/banner.png) no-repeat #850900;
	font-size:14px;
	line-height:50px;
}

.nav-a span{
	color:#850900;
}

.m-container{
	width:1024px;
	margin:0 auto;
	font-size:14px;
	
}

.m-header{
	position:relative;
}

.m-header .tq-box{
	height:56px;
	position:absolute;
	right:0px;
	top:-67px;
	z-index:2;
	font-size:12px;
}

.m-header .tq-box dl{
	width:120px;
	height:100%;
	float:right;
	
}
.m-header .tq-box dl dd{
	height:18px;
	line-height:18px;
	color:#fff;
	text-align:left;
	
}

.m-header .tq-box dl dd a{
	color:#ffea00;
	text-decoration:none;
}

.m-header .tq-box ul{
	float:right;
	color:#fff;
	margin-right:43px;
	margin-top:10px;
}

.m-header .tq-box ul li{
	list-style:none;
	height:18px;
	line-height:18px;
}

.m-header .tq-box img{
	float:right;
	margin-right:12px;
}

.m-container .footer-p{
	height:22px;
	line-height:22px;
	text-align:center;
	font-size:12px;
}

.footer-a{
	height:115px;
	width:100%;
	background:url(../images/footer-a.png) bottom no-repeat;
	margin:20px auto 0px auto;
}


